{{- $speeches := slice -}}
{{- $directory := "data/votes" -}}
{{- $discussionsBySpeechNumber := dict -}}
{{- range partials.IncludeCached "discussions/discussions-data.html" site -}}
  {{- $discussion := . -}}
  {{- range .turns -}}
    {{- with .speechNumber -}}
      {{- $discussionsBySpeechNumber = merge $discussionsBySpeechNumber (dict . $discussion) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if os.FileExists $directory -}}
  {{- range os.ReadDir $directory -}}
    {{- if .IsDir -}}
      {{- $date := .Name -}}
      {{- $assessmentFile := path.Join $directory $date "speech-russia-assessments.json" -}}
      {{- if os.FileExists $assessmentFile -}}
        {{- $assessmentData := transform.Unmarshal (os.ReadFile $assessmentFile) -}}
        {{- range $speechNumber, $assessment := index $assessmentData "items" | default dict -}}
          {{- $mepID := index $assessment "mepID" | default "" -}}
          {{- if and (index $assessment "benefitsRussia") $mepID -}}
            {{- $discussion := index $discussionsBySpeechNumber $speechNumber | default dict -}}
            {{- $speeches = $speeches | append (dict
              "date" $date
              "topic" ($discussion.title | default "Plenary speech")
              "sourceURL" ($discussion.sourceURL | default (printf "https://www.europarl.europa.eu/doceo/document/CRE-10-%s_EN.html" $date))
              "contextURL" ($discussion.sourceURL | default "")
              "contextID" ($discussion.id | default "")
              "discussion" ($discussion.turns | default slice)
              "mepID" $mepID
              "speaker" (index $assessment "speaker" | default "")
              "speechNumber" $speechNumber
              "text" (index $assessment "sourceText" | default "")
              "translation" (dict "englishText" (index $assessment "englishText" | default ""))
              "russiaBenefit" true
            ) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return (sort $speeches "date" "desc") -}}
