{{- $speeches := slice -}}
{{- $directory := "data/votes" -}}
{{- if os.FileExists $directory -}}
  {{- range os.ReadDir $directory -}}
    {{- if .IsDir -}}
      {{- $date := .Name -}}
      {{- $assessmentFile := path.Join $directory $date "speech-russia-assessments.json" -}}
      {{- if os.FileExists $assessmentFile -}}
        {{- $assessmentData := transform.Unmarshal (os.ReadFile $assessmentFile) -}}
        {{- range $speechNumber, $assessment := index $assessmentData "items" | default dict -}}
          {{- $mepID := index $assessment "mepID" | default "" -}}
          {{- if and (index $assessment "benefitsRussia") $mepID -}}
            {{- $speeches = $speeches | append (dict
              "date" $date
              "topic" "Plenary speech"
              "sourceURL" (printf "https://www.europarl.europa.eu/doceo/document/CRE-10-%s_EN.html" $date)
              "mepID" $mepID
              "speaker" (index $assessment "speaker" | default "")
              "speechNumber" $speechNumber
              "text" (index $assessment "sourceText" | default "")
              "translation" (dict "englishText" (index $assessment "englishText" | default ""))
              "russiaBenefit" true
            ) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return (sort $speeches "date" "desc") -}}
