{{- $file := index . "file" -}}
{{- $document := index . "document" -}}
{{- $transcriptDocument := replaceRE "^PV-" "CRE-" $document -}}
{{- $links := dict -}}
{{- if os.FileExists $file -}}
  {{- $data := transform.Unmarshal (dict "format" "xml") (os.ReadFile $file) -}}
  {{- $sections := index $data "PV.Other.Text" -}}
  {{- if $sections -}}
    {{- if not (reflect.IsSlice $sections) -}}
      {{- $sections = slice $sections -}}
    {{- end -}}
    {{- range $sections -}}
      {{- $headings := index . "h" -}}
      {{- if $headings -}}
        {{- if not (reflect.IsSlice $headings) -}}
          {{- $headings = slice $headings -}}
        {{- end -}}
        {{- range $headings -}}
          {{- $title := partials.Include "motions/motions-report-short-title.html" . -}}
          {{- $chapter := index . "chapter-number" -}}
          {{- if and $title $chapter -}}
            {{- $item := printf "%03d" (int $chapter) -}}
            {{- $url := printf "https://www.europarl.europa.eu/doceo/document/%s-ITM-%s_EN.html" $transcriptDocument $item -}}
            {{- $links = merge $links (dict $title $url) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $links -}}
