{{- $node := . -}}
{{- $title := "" -}}
{{- if reflect.IsMap $node -}}
  {{- $reportTitle := index $node "OJ.ReportShortDescription.Text" -}}
  {{- if $reportTitle -}}
    {{- if reflect.IsMap $reportTitle -}}
      {{- $title = index $reportTitle "#text" -}}
    {{- else -}}
      {{- $title = $reportTitle -}}
    {{- end -}}
  {{- else -}}
    {{- range $_, $value := $node -}}
      {{- if and (eq $title "") (or (reflect.IsMap $value) (reflect.IsSlice $value)) -}}
        {{- $title = partials.Include "motions/motions-report-short-title.html" $value -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if reflect.IsSlice $node -}}
  {{- range $node -}}
    {{- if eq $title "" -}}
      {{- $title = partials.Include "motions/motions-report-short-title.html" . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $title -}}
