<nav class="site-navigation pv2 ph3 ph4-ns" role="navigation">
  <div class="flex center items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="site-brand no-underline">
      {{ with .Site.Params.site_logo }}
        {{ with resources.Get (strings.TrimPrefix "/" .) }}
          {{ $logo := . | resources.Fingerprint }}
          <img src="{{ $logo.RelPermalink }}" alt="{{ $.Site.Title }}" />
        {{ end }}
      {{ end }}
    </a>
    <div class="flex items-center">
      {{ partials.Include "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="site-nav-links {{ compare.Conditional (compare.Eq $.Site.Language.Direction "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f6 fw5 dib {{ compare.Conditional (compare.Eq $.Site.Language.Direction "rtl") "pl3" "pr3" }}">
            <a class="site-nav-link{{ if eq $.RelPermalink .URL }} is-active{{ end }}" href="{{ .URL }}" title="{{ lang.Translate "pageTitle" . }}">
              {{ if eq .Name "Home" }}
                <i class="fa-solid fa-house" aria-hidden="true"></i>
              {{ else if eq .Name "MEPs" }}
                <i class="fa-solid fa-users" aria-hidden="true"></i>
              {{ else if eq .Name "Motions" }}
                <i class="fa-solid fa-scale-balanced" aria-hidden="true"></i>
              {{ end }}
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partials.IncludeCached "social/follow.html" . }}
    </div>
  </div>
</nav>
